# AirBnB NY Locations Data Case Study

In this final project, you task will be to take the data provided and find evidence to answer the following questions.

1. Which hosts are the busiest and why?
2. How many neighborhood groups are available and which shows up the most?
3. Are private rooms the most popular in manhattan?
4. Which hosts are the busiest and based on their reviews?
5. Which neighorhood group has the highest average price?
6. Which neighborhood group has the highest total price?
7. Which top 5 hosts have the highest total price?
8. Who currently has no (zero) availability with a review count of 100 or more?
9. What host has the highest total of prices and where are they located?
10. When did Danielle from Queens last receive a review?

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
air_bnb = pd.read_csv('AB_NYC_2019.csv')
air_bnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [16]:

data = pd.DataFrame.from_dict(air_bnb)

data

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [19]:
air_bnb = pd.read_csv('./AB_NYC_2019.csv', sep=',')

In [21]:
bus_model = air_bnb.query('availability_365 == 0')
control = bus_model.drop(columns=['id','neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month','name', 'availability_365'])
control

         host_id      host_name  calculated_host_listings_count
4           7192          Laura                               1
6           7356          Garon                               1
8           7490      MaryEllen                               1
14         11975          Alina                               1
20         21207          Chaya                               1
...          ...            ...                             ...
48550   16883913        Tiffany                               1
48731  121384174  Luciana Paula                               1
48756  273824202          David                               1
48760   19990280        Brandon                               1
48779   13384464         Hollie                               1

[17533 rows x 3 columns]

In [23]:
#keys 
print(type(control))

<class 'pandas.core.frame.DataFrame'>

In [33]:
count_data = data.sort_values('calculated_host_listings_count', kind='mergesort', ascending=False)

count_data.query('calculated_host_listings_count >100')

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
38293,30181691,Sonder | 180 Water | Incredible 2BR + Rooftop,219517861,Sonder (NYC),Manhattan,Financial District,40.70637,-74.00645,Entire home/apt,302,29,0,NaN,NaN,327,309
38294,30181945,Sonder | 180 Water | Premier 1BR + Rooftop,219517861,Sonder (NYC),Manhattan,Financial District,40.70771,-74.00641,Entire home/apt,229,29,1,2019-05-29,0.73,327,219
38588,30347708,Sonder | 180 Water | Charming 1BR + Rooftop,219517861,Sonder (NYC),Manhattan,Financial District,40.70743,-74.00443,Entire home/apt,232,29,1,2019-05-21,0.60,327,159
39769,30937590,Sonder | The Nash | Artsy 1BR + Rooftop,219517861,Sonder (NYC),Manhattan,Murray Hill,40.74792,-73.97614,Entire home/apt,262,2,8,2019-06-09,1.86,327,91
39770,30937591,Sonder | The Nash | Lovely Studio + Rooftop,219517861,Sonder (NYC),Manhattan,Murray Hill,40.74771,-73.97528,Entire home/apt,255,2,14,2019-06-10,2.59,327,81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44623,34324284,Comfy room with WiFi. Mins to Central Park!,137358866,Kazuya,Manhattan,East Harlem,40.79395,-73.94153,Private room,38,30,0,NaN,NaN,103,0
44718,34370821,Spacious room 2mins from 52st-Woodside 7 train!,137358866,Kazuya,Queens,Woodside,40.74341,-73.91064,Private room,54,30,0,NaN,NaN,103,10
44773,34394888,Room w/ lots of Natural Light. Near 69st 7 train.,137358866,Kazuya,Queens,Woodside,40.74300,-73.89444,Private room,47,30,0,NaN,NaN,103,246
44776,34396674,Cozy sun-fillled Astoria RM near Broadway stat...,137358866,Kazuya,Queens,Astoria,40.76571,-73.92758,Private room,48,30,0,NaN,NaN,103,242
45221,34607764,Spacious Manhattan room mins to Central Park!,137358866,Kazuya,Manhattan,East Harlem,40.79466,-73.94032,Private room,34,30,0,NaN,NaN,103,216

In [36]:
#Which hosts are the busiest and why?
air_bnb.groupby(['host_id','host_name']).sum().sort_values('calculated_host_listings_count', ascending=False)['calculated_host_listings_count']

host_id    host_name
219517861  Sonder (NYC)      106929
107434423  Blueground         53824
30283594   Kara               14641
137358866  Kazuya             10609
16098958   Jeremy & Laura      9216
                              ...
13543967   Paulina                1
13541655   Michael                1
13540183   Ashley                 1
13538150   Mariana                1
274321313  Kat                    1
Name: calculated_host_listings_count, Length: 37439, dtype: int64

In [38]:
# How many neighborhood groups are available and which shows up the most?
air_bnb.groupby('neighbourhood_group').count()['id'].sort_values(ascending=False)

neighbourhood_group
Manhattan        21661
Brooklyn         20104
Queens            5666
Bronx             1091
Staten Island      373
Name: id, dtype: int64

In [40]:
air_bnb['neighbourhood_group'].value_counts()

Manhattan        21661
Brooklyn         20104
Queens            5666
Bronx             1091
Staten Island      373
Name: neighbourhood_group, dtype: int64

In [41]:
# Are private rooms the most popular in manhattan?
air_bnb.groupby(['neighbourhood_group', 'room_type'])['id'].count()

neighbourhood_group  room_type
Bronx                Entire home/apt      379
                     Private room         652
                     Shared room           60
Brooklyn             Entire home/apt     9559
                     Private room       10132
                     Shared room          413
Manhattan            Entire home/apt    13199
                     Private room        7982
                     Shared room          480
Queens               Entire home/apt     2096
                     Private room        3372
                     Shared room          198
Staten Island        Entire home/apt      176
                     Private room         188
                     Shared room            9
Name: id, dtype: int64

In [43]:
# Which hosts are the busiest and based on their reviews?
air_bnb.groupby(['host_id', 'host_name']).sum().number_of_reviews.nlargest(10)

host_id    host_name
37312959   Maya                              2273
344035     Brooklyn&   Breakfast    -Len-    2205
26432133   Danielle                          2017
35524316   Yasu & Akiko                      1971
40176101   Brady                             1818
4734398    Jj                                1798
16677326   Alex And Zeena                    1355
6885157    Randy                             1346
219517861  Sonder (NYC)                      1281
23591164   Angela                            1269
Name: number_of_reviews, dtype: int64

In [46]:
air_bnb.groupby(['host_id', 'host_name']).sum().reviews_per_month.nlargest(10)

host_id    host_name
219517861  Sonder (NYC)                      397.56
244361589  Row NYC                           111.72
232251881  Lakshmee                           80.63
26432133   Danielle                           68.02
137274917  David                              62.89
224414117  Gabriel                            59.10
156948703  Asad                               56.44
344035     Brooklyn&   Breakfast    -Len-     56.00
156684502  Nalicia                            54.38
37312959   Maya                               53.53
Name: reviews_per_month, dtype: float64

In [47]:
#Which neighorhood group has the highest average price?
air_bnb.groupby('neighbourhood_group').price.mean().sort_values(ascending=False)

neighbourhood_group
Manhattan        196.875814
Brooklyn         124.383207
Staten Island    114.812332
Queens            99.517649
Bronx             87.496792
Name: price, dtype: float64

In [50]:
# Which neighbor hood group has the highest total price?
air_bnb.groupby('neighbourhood_group').price.max().sort_values(ascending=False)

neighbourhood_group
Queens           10000
Manhattan        10000
Brooklyn         10000
Staten Island     5000
Bronx             2500
Name: price, dtype: int64

In [52]:
air_bnb.groupby(['host_id', 'host_name']).price.sum().sort_values(ascending=False).nlargest(5)

host_id    host_name
219517861  Sonder (NYC)    82795
107434423  Blueground      70331
156158778  Sally           37097
205031545  Red Awning      35294
30283594   Kara            33581
Name: price, dtype: int64

In [54]:
#Which top 5 hosts have the highest total price?
air_bnb.groupby(['host_id', 'host_name']).price.sum().sort_values(ascending=False).nlargest(5)

host_id    host_name
219517861  Sonder (NYC)    82795
107434423  Blueground      70331
156158778  Sally           37097
205031545  Red Awning      35294
30283594   Kara            33581
Name: price, dtype: int64

In [56]:
# Who currently has no (zero) availability with a review count of 100 or more?
air_bnb[(air_bnb['availability_365']==0) & (air_bnb['number_of_reviews'] >= 100)]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
94,20913,Charming 1 bed GR8 WBurg LOCATION!,79402,Christiana,Brooklyn,Williamsburg,40.70984,-73.95775,Entire home/apt,100,5,168,2018-07-22,1.57,1,0
132,30031,NYC artists’ loft with roof deck,129352,Sol,Brooklyn,Greenpoint,40.73494,-73.95030,Private room,50,3,193,2019-05-20,1.86,1,0
174,44221,Financial District Luxury Loft,193722,Coral,Manhattan,Financial District,40.70666,-74.01374,Entire home/apt,196,3,114,2019-06-20,1.06,1,0
180,45556,"Fort Greene, Brooklyn: Center Bedroom",67778,Doug,Brooklyn,Fort Greene,40.68863,-73.97691,Private room,65,2,206,2019-06-30,1.92,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29581,22705516,The Quietest Block in Manhattan :),127740507,Kathleen,Manhattan,Harlem,40.83102,-73.94181,Private room,65,2,103,2019-07-07,5.89,2,0
30461,23574142,queens get away!!,176185168,Janet,Queens,Laurelton,40.68209,-73.73662,Private room,65,1,119,2018-12-24,7.79,1,0
31250,24267706,entire sunshine of the spotless mind room,21074914,Albert,Brooklyn,Bedford-Stuyvesant,40.68234,-73.91318,Private room,49,1,102,2019-07-05,6.73,3,0
32670,25719044,COZY Room for Female Guests,40119874,Stephany,Brooklyn,Prospect-Lefferts Gardens,40.66242,-73.94417,Private room,48,1,131,2019-05-31,9.97,2,0
35014,27759146,Cozy corner near Empire State Building,209549523,Mariluz,Manhattan,Midtown,40.74858,-73.98341,Shared room,62,1,112,2019-06-13,10.77,3,0

In [57]:
air_bnb.query('availability_365 == 0 and number_of_reviews >= 100')

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
94,20913,Charming 1 bed GR8 WBurg LOCATION!,79402,Christiana,Brooklyn,Williamsburg,40.70984,-73.95775,Entire home/apt,100,5,168,2018-07-22,1.57,1,0
132,30031,NYC artists’ loft with roof deck,129352,Sol,Brooklyn,Greenpoint,40.73494,-73.95030,Private room,50,3,193,2019-05-20,1.86,1,0
174,44221,Financial District Luxury Loft,193722,Coral,Manhattan,Financial District,40.70666,-74.01374,Entire home/apt,196,3,114,2019-06-20,1.06,1,0
180,45556,"Fort Greene, Brooklyn: Center Bedroom",67778,Doug,Brooklyn,Fort Greene,40.68863,-73.97691,Private room,65,2,206,2019-06-30,1.92,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29581,22705516,The Quietest Block in Manhattan :),127740507,Kathleen,Manhattan,Harlem,40.83102,-73.94181,Private room,65,2,103,2019-07-07,5.89,2,0
30461,23574142,queens get away!!,176185168,Janet,Queens,Laurelton,40.68209,-73.73662,Private room,65,1,119,2018-12-24,7.79,1,0
31250,24267706,entire sunshine of the spotless mind room,21074914,Albert,Brooklyn,Bedford-Stuyvesant,40.68234,-73.91318,Private room,49,1,102,2019-07-05,6.73,3,0
32670,25719044,COZY Room for Female Guests,40119874,Stephany,Brooklyn,Prospect-Lefferts Gardens,40.66242,-73.94417,Private room,48,1,131,2019-05-31,9.97,2,0
35014,27759146,Cozy corner near Empire State Building,209549523,Mariluz,Manhattan,Midtown,40.74858,-73.98341,Shared room,62,1,112,2019-06-13,10.77,3,0

In [58]:
# What host has the highest total of prices and where are they located?
air_bnb.groupby(['host_name', 'neighbourhood']).price.sum().nlargest(5)

host_name     neighbourhood
Sonder (NYC)  Financial District    57738
Red Awning    Midtown               35294
Kevin         Chelsea               20003
Jessica       Clinton Hill          15804
Henry         Upper West Side       15000
Name: price, dtype: int64

In [60]:
# When did Danielle from Queens last receive a review?
air_bnb.query("host_name == 'Danielle' and neighbourhood_group == 'Queens'").last_review.sort_values(ascending=False)

22469    2019-07-08
21517    2019-07-07
22068    2019-07-06
20403    2019-07-06
7086     2019-07-03
33861    2019-06-20
27021    2018-01-02
16349           NaN
Name: last_review, dtype: object

In [62]:
air_bnb.query("host_name == 'Danielle' and neighbourhood_group == 'Queens'").groupby('host_id').count()

,id,name,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
host_id,,,,,,,,,,,,,,,
18051286,1,1,1,1,1,1,1,1,1,1,1,0,0,1,1
26432133,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
154256662,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
201647469,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [63]:
air_bnb.query("host_name == 'Danielle' and neighbourhood_group == 'Queens'").groupby(['host_id', 'host_name']).last_review.max()

host_id    host_name
18051286   Danielle            NaN
26432133   Danielle     2019-07-08
154256662  Danielle     2018-01-02
201647469  Danielle     2019-06-20
Name: last_review, dtype: object

## Further Questions

1. Which host has the most listings?

In [65]:
air_bnb.groupby(['host_id', 'host_name']).id.count().nlargest(10)

host_id    host_name
219517861  Sonder (NYC)         327
107434423  Blueground           232
30283594   Kara                 121
137358866  Kazuya               103
12243051   Sonder                96
16098958   Jeremy & Laura        96
61391963   Corporate Housing     91
22541573   Ken                   87
200380610  Pranjal               65
1475015    Mike                  52
Name: id, dtype: int64

2. How many listings have completely open availability?

In [67]:
air_bnb.availability_365.value_counts()

0      17533
365     1295
364      491
1        408
89       361
       ...
195       26
196       24
183       24
181       23
202       20
Name: availability_365, Length: 366, dtype: int64

3. What room_types have the highest review numbers?

In [68]:
air_bnb.groupby('room_type').number_of_reviews.sum()

room_type
Entire home/apt    580403
Private room       538346
Shared room         19256
Name: number_of_reviews, dtype: int64

# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please discribe them here.

-- Add your conclusion --